package components 

type RootComponentProps struct {
	Count int64
}

// no org picker in root.
templ RootComponent(props RootComponentProps) {
	<h2>Welcome to GoSQLite Viewer</h2>
	<p>
		We're happy to have you here.❤️ 
	</p>
}
